*{
  box-sizing: border-box;
  font-family: "Mona Sans", "Courier New", monospace;
  margin: 0;
}

.navbar{
  display: flex;
  background-color: white;
}

.navbar a{
  color: #333;
  padding: 14px 25px;
  text-decoration: none;
  text-align: left;
}

.navbar a:hover{
  background-color: #333;
  color: white;
}

.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  background-color: white;
  text-align: left;
  margin: 40px 20px 0px 20px
}

.container .visible{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  background-color: white;
  text-align: left;
  margin: 40px 20px 0px 20px
}

.container .visible .newpost{
  display: flex;
  flex-direction: column;
  width: 25%;
  padding-bottom: 15px;
  text-align: left;
}

.container .newpost a:hover{
  background-color: #333;
  color: white;
  text-align: left;
}

@media only screen and (max-width: 769px){
  .container .visible{
    flex-direction: column;
  }
  .container .visible .newpost{
    width: 100%;
  }
}
