*{
  box-sizing: border-box;
  font-family: "Mona Sans", "Courier New", monospace;
  margin: 0;
}

.h5{
  color: lightgrey;
}

.navbar{
  display: flex;
  background-color: white;
}

.navbar a{
  color: #333;
  padding: 14px 25px;
  text-decoration: none;
  text-align: left;
}

.navbar a:hover{
  background-color: #333;
  color: white;
}

.container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: left;
  margin: 40px 20px 0px 20px;
}

.container .box{
  display: flex;
  flex-direction: row;
  text-align: left;
  justify-content: space-evenly;
  padding: 20px;
}

.container .box .article{
   width: 100%;
   text-align: left;
}

.container .box .new-post{
   width: 32.5%;
   padding-bottom: 15px;
   margin: 13px 13px 13px 13px;
}

.container .box .new-post img{
   border-radius: 5px;
}

.container .new-post a:hover{
  color: violet;
  text-decoration: none;
}

.container .new-post a:link{
  color: #333;
  text-decoration: none;
}

@media only screen and (max-width: 769px){
  .container .box{
    flex-direction: column;
  }
  .container .box .new-post{
    width: 100%;
  }
}
