*{
  box-sizing: border-box;
  font-family: "Courier New", monospace;
  margin: 0;
}

.navbar{
  display: flex;
  background-color: white;
}

.navbar a{
  color: #333;
  padding: 14px 25px;
  text-decoration: none;
  text-align: center;
}

.navbar a:hover{
  background-color: #333;
  color: white;
}

.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  background-color: white;
  text-align: left;
}

.container .newpost{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  margin: 10px 0px 0px 0px;
  padding: 10px 10px 10px 10px;
}
